@use "sass:color";

.fm-conversation-style-discordant {
    --background-color: #36393f;
    --message-text-color: rgb(220, 221, 222);
    --system-message-color: color.scale(var(--message-text-color), lightness: 50%);
    --link-text-color: rgb(0, 175, 244);

    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;

    color: var(--message-text-color);

    width: 100%;
    margin: 0;

    .messages-container {
        background-color: var(--background-color);

        width: 100%;
        padding: 2em 3em 2em 1em;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        gap: 1em;

        .message-collection-outer {
            display: flex;
            gap: 1em;

            .profile-image {
                width: 3em;
                height: 3em;
                padding: 0.1em;

                border-radius: 50%;
            }
        }

        .message-collection {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .user-name {
                margin: 0;
                font-size: 1.1em;
                font-weight: 500;
            }

            .message {
                margin: 0;

                img {
                    max-width: 100%;
                }

                a {
                    color: var(--link-text-color);
                    text-decoration: none;
                    word-break: break-word;

                    :visited {
                        color: var(--link-text-color);
                    }
                }
            }
        }
    }

    .system-message {
        margin-left: 4em;
        color: var(--system-message-color);
    }
}