@use "../common";

.fm-conversation-style-sms {
    font-family: sans-serif;
    width: 100%;

    margin: 1em 0;

    display: flex;
    justify-content: center;

    .messages-container {
        display: flex;
        flex-direction: column;
        gap: 1em;

        width: 100%;
        max-width: 40em;

        padding: 1em;
        box-sizing: border-box;

        .message-collection-outer {
            width: 100%;
        }

        .message-collection {
            align-self: flex-start;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 0.25em;

            width: 100%;
            max-width: 30em;
            margin-top: 0.75em;

            text-align: left;

            .message {
                display: inline-block;

                padding: 0.8em;
                margin: 0;
                margin-right: auto;

                border-radius: 1em;
            }

            .user-name {
                /*
                    This allows .user-name to come first in markup but still be displayed after in CSS.
                    So if screen readers are used, or if CSS otherwise isn't applied, this still renders readably.
                */
                order: 9999;
                margin: 0;

                font-size: 0.85em;

                strong {
                    font-weight: normal;
                }
            }
        }

        .message-collection.primary {
            align-self: flex-end;
            justify-content: flex-end;

            text-align: right;

            .message {
                margin: 0;
                margin-left: auto;
            }
        }

        .system-message {
            font-size: 0.75em;
            margin: 1em 0;
        }
    }
}