// The @import directive is deprecated in favor of @use, but Bootstrap 5 still uses @import for the time being.
@import "~bootswatch/dist/pulse/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/pulse/bootswatch";

.input-content {
  display: block;
  height: 20em;
  max-height: 50vh;

  outline: 1px solid $gray-700;
  border-radius: $border-radius;
  border-style: none;

  overflow: scroll;
  resize: none;
}

.code-block {
  code {
    width: 100%;
    overflow-x: scroll;
  }
}

#preview-result {
  width: 100%;
  height: 50em;
}

.setting-color-picker {
  position: relative;

  .swatch-button {
    width: 5em;
  }

  .popover {
    position: absolute;
    padding: 0.5em;

    background-color: $light;
    outline: 1px solid $gray-700;
    border-radius: $border-radius;
  }
}