/*
Generates CSS foreground and background color classes.

Note: changes here must also be made in color-utils.ts in order for color CSS classes to work properly.
*/

@use "sass:list";
@use "sass:map";
@use "sass:math";

$color-props:
  ('hue', 'deg', 0, 355,  5), // Hue max is 355 to avoid generating both 0-deg and 360-deg
  ('sat',   '%', 0, 100, 10),
  ('lit',   '%', 0, 100, 10),
;

@each $prop, $unit, $start, $end, $step in $color-props {
  $n-steps: math.floor(math.div($end - $start, $step));

  @for $i from 0 through $n-steps {
    $value: ($i * $step) + $start;

    .#{$prop}#{$value} {
      --#{$prop}: #{$value}#{$unit};
    }
  }
}

.fg-hsl {
  color: hsl(var(--hue), var(--sat), var(--lit));
}

.bg-hsl {
  background-color: hsl(var(--hue), var(--sat), var(--lit));
}
