@use 'colors';

// Reset AO3's default styles
blockquote.conversation {
    margin: 0;
    margin-inline: 0;
    padding: 0;
    border: none;
    border-inline: none;

    p {
        line-height: normal;
        margin: 0;
    }

    // Make empty p tags render as if they had content, so as not to break formatting for empty messages in certain styles
    p:empty:before {
        content: ' ';
        white-space: pre;
    }

    // Trailing <br /> adds spacing between message collections when CSS isn't available, but should be hidden otherwise.
    .message-collection {
        br:last-child {
            display: none;
        }
    }
}
